# PostgreSQL settings
POSTGRES_HOST=postgres
POSTGRES_USER=fhc
POSTGRES_PASSWORD=changeme
POSTGRES_DB=fhc
POSTGRES_PORT=5432

# pgAdmin settings
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin_password
PGADMIN_PORT=5050

TIMEZONE=Europe/Brussels