<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="LOGS" value="./logs" />
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>


	<appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
		<!-- This is MDC value -->
		<!-- We will assign a value to 'keystoreId' via Java code -->
		<discriminator>
			<key>keystoreId</key>
			<defaultValue>0-noKeyStoreId</defaultValue>
		</discriminator>

		<sift>
			<!-- A standard RollingFileAppender, the log file is based on 'keystoreId' at runtime  -->
			<appender name="FILE-${keystoreId}"
					  class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>/opt/freehealth/logs/keystorelogs/${keystoreId}.log</file>

				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<Pattern>
						%d{yyyy-MM-dd HH:mm:ss} %level %logger{35} [X-Company: %X{company}] - %msg%n
					</Pattern>
				</encoder>

				<rollingPolicy
						class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<FileNamePattern>/opt/freehealth/logs/keystorelogs/${keystoreId}.%i.log.zip
					</FileNamePattern>
					<MinIndex>1</MinIndex>
					<MaxIndex>2</MaxIndex>
				</rollingPolicy>


				<triggeringPolicy
						class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<MaxFileSize>1MB</MaxFileSize>
				</triggeringPolicy>
				<filter class="ch.qos.logback.classic.filter.LevelFilter">
					<level>INFO</level>
					<onMatch>ACCEPT</onMatch>
					<onMismatch>DENY</onMismatch>
				</filter>
			</appender>
		</sift>
	</appender>

	<appender name="FILE-GeneralErrors"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/freehealth/logs/generalErrors.log</file>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %level %logger{35} [X-Company: %X{company}] - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy
				class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>/opt/freehealth/logs/generalErrors.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>7</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="be.fgov.ehealth.etee.crypto" level="WARN" />
	<logger name="be.fgov.ehealth.etee.crypto.decrypt" level="ERROR" />

	<logger name="org.taktik.connector.technical" level="WARN" />
	<logger name="org.taktik.connector.technical.ws.impl" level="INFO"/>
	<logger name="org.taktik.connector.technical.validator" level="INFO" />
	<logger name="org.taktik.connector.technical.service.etee.impl.CryptoImpl" level="ERROR" />

	<logger name="org.taktik.freehealth.middleware.service.impl" level="INFO" />
	<logger name="org.taktik.freehealth.middleware.HazelcastConfiguration" level="WARN" />
	<logger name="org.taktik.connector.business.hubv3.service" level="DEBUG" />

	<logger name="org.springframework.web.client" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-THREAD" />
	</root>
	<root level="ERROR">
		<appender-ref ref="FILE-GeneralErrors" />
	</root>
</configuration>
